{     "query": {
    "bool": {
        "filter": {"term":{"metatag.content-language": "es"}},

      "must": [
          {"bool": 
              {"must":
              [
              {"exists": {"field": "searchtitle" }},
              
              {"prefix": {"searchurl.raw": "{{my_site}}" } }
              ]
          }},
        {
          "bool": {
            "should": [
              {
                "match": {
                  "content.es": {
                    "query": "{{my_value}}",
                    "operator": "and",
                    "boost": 1
                  }
                }
              },
              {
                "match": {
                  "searchtitle.es": {
                    "query": "{{my_value}}",
                    "boost": 1
                  }
                }
              },
              {
                "match": {
                  "searchurl.es": {
                    "query": "{{my_value}}",
                    "boost": 1
                  }
                }
              },
              {
                "match_phrase": {
                  "content.es": {
                    "query": "{{my_value}}",
                    "boost": 1
                  }
                }
              },
              {
                "bool": {
                  "should": [
                    {
                      "match": {
                        "metatag.description.es": {
                          "query": "{{my_value}}",
                          "boost": 0.01
                        }
                      }
                    }
                  ]
                }
              }
            ]
          }
        }
      ],
      "should": [
        {
          "term": {
            "type": {
              "value": "text/html",
              "boost": 1
            }
          }
        }
      ]
    }
  },
"_source":  [ {{{my_fields}}} ]
, "size":  "{{my_size}}"
,"from": "{{my_from}}"
, "sort":["_score", "url"]
}
